.self-width{
    width: 1000px;
    max-width: 1000px;
}
.p-width{
    width: 450px;
}
.h-style{
    text-transform: capitalize;
}
img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}