<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href={{url_for('static',filename='crop.css' )}}>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>CROP RECOMENDER</title>
</head>

<body class="bg-slate-900 text-white">
    <div class="flex justify-center items-center my-auto mt-20">
        <div class="border border-black rounded rounded-md self-width mx-auto bg-slate-700">
            <h1 class="text-4xl text-center mt-10 h-style">{{namey}}</h1>
            <div class="flex justify-around items-center">
                <img src="../static/{{name}}.jpg" alt="Image of the crop" class="my-10 rounded rounded-md border-black" height="400px" width="400px">
                <p class="p-width">{{content}}</p>
            </div>
        </div>
    </div>
</body>

</html>