<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dr.Agriru</title>
  <link rel="stylesheet" href="./static/style1.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <link rel="icon" href="../static/Logo.png" type="image/gif" sizes="25x25">

</head>

<body>

  <section>
    <input type="checkbox" id="check">
    <header>
      </div>
      <h2><a href="#" class="logo">Dr.Agriru</a></h2>
      <div class="navigation">
        <a href="#">Home</a>
        <a href="#about">About Dr.Agriru</a>
        <a href="#info">Developer</a>
        <a href="/">Predictor</a>
      </div>
      <label for="check">
        <i class="fas fa-bars menu-btn"></i>
        <i class="fas fa-times close-btn"></i>
      </label>
    </header>
    <div class="content" style="margin-top: 8%;">
      <div class="info">
        <h2>ANCIENT SCIENCE <br><span>NEW TECHNOLOGY</span></h2>
        <p> "The family farm is going high-tech. From robotic milking machines to data-gathering drones, industry
          watchers say technology is making agriculture more precise and efficient as farmers push for increased profits
          and yields"</p>
        <a href="#about" class="info-btn">More info</a>
      </div>
    </div>
  </section>

  <section id="about">
    <h2>About Dr.Agriru</h2>
    <p class="about-content" style="text-align: center;">Dr.Agriru which intends to assist the
      young planters in making an informed decision about which crop to grow depending on the sowing season,
      obtained soil characteristics and his farm’s geographical location
      It recommends the perfect crops based on the condition of soil and using the other external climatic factors.
      It does the detailed analysis only based on Indian soil and climatic conditions.
      And it’s User-friendly interface provides all users to utilize all the resources in the software.
      We have used data sets from multiple sources which helps in solving the non-linear problems.
      The solution will benefit farmers to maximize productivity in agriculture, reduce soil degradation in cultivated
      fields,
      and reduce fertilizer use in crop production by recommending the right crop by considering various attributes.

      <br>Project file : <a href="https://github.com/Thespians/Dr.Agriru"
        style="color: black; font-weight: bold;">github repo</a><br>
      Test Report : <a href="https://farmer.gov.in/stl.aspx" style="color: black; font-weight: bold;">Soil Testing
        Laboratory</a>

  </section>
  <section id="info">
    <div>
      <img src="../static/Logo.png" alt="Thespians">

    </div>
    <div>
      <h2>Developer</h2>
      <p class="about-content"> Hi Thrills, <b> THESPIANS</b> here, a Team of Data Scientists from <br>TAMIL NADU,INDIA.
        Nothing satisfies more than applying the grasped knowledge in real life time projects.
        We are forthwith erudising different fields of Data Science - as to say in Machine Learning, Deep Learning and
        Computer Vision.
        Very Recently, We have achieved an Intra-College Hackathon in the domain of Data Science.
        For the Awaiting Excited Eyes of the key is making it explicitly clear the kind of relationship you're seeking,
        We have mentioned our project's github link below and in addition "Ditch the pitch",
        Take time to build and nurtur the relationship as we are glad to connect with you.<br>
      <ul>

        <li><a href="https://www.linkedin.com/in/sanjay-kumar-v-474316205/"
            style="color: black;font-family:  'Times New Roman', Times, serif; font-weight: bold;">Sanjay
            Kumar.V</a><br></li>
        <li><a href="https://www.linkedin.com/in/sindhuja-c-70704a1ab"
            style="color: black;font-family:  'Times New Roman', Times, serif; font-weight: bold;">Sindhuja.C</a><br>
        </li>
        <li><a href="https://www.linkedin.com/in/yogan-gopinathan-04876a1b6"
            style="color:black;font-family: 'Times New Roman', Times, serif ; font-weight: bold;">Sabareeshwaran.M</a><br>
        </li>
        <li> <a href="https://www.linkedin.com/in/shrinithish-s-s-89967a1b5/"
            style="color:black;font-family: 'Times New Roman', Times, serif; font-weight: bold;">Yashwanth.D
          </a></li>
      </ul>
      </p>
    </div>
  </section>

  <footer>
    <p>
      Developed by <b>THESPIANS</b>
    </p>
    <div class="media-icons">

      <a href="https://github.com/Thespians"><i class="fab fa-github"></i></a>

    </div>
  </footer>

</body>

</html>