<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href={{url_for('static',filename='predictor.css' )}}>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Crop Recomendation</title>
</head>

<body>
    <section id="prediction-form">
        <form class="" action="/predict" method="POST">
            <h1 class="text-center text-4xl mt-10">CROP RECOMMENDATION SYSTEM</h1>
            <div class="flex justify-center items-center w-screen my-10">
                <div>
                    <label for="city" class="city">City</label>
                    <input type="text" class=" border border-slate-500 rounded" id="city" name="city">
                </div>
            </div>
            <h1 class="text-2xl text-center">OR</h1>
            <div class="flex flex-col self-width mx-auto justify-between items-center">
                <div class="mt-10">
                    <label for="N" class="N">Nitrogen Ratio(N) </label>
                    <input type="text" class="border border-slate-500 rounded" id="N" name="N" value="1">
                </div>
                <div class="mt-3">
                    <label for="K" class="K">Potassium Ratio(K) </label>
                    <input type="text" class="border border-slate-500 rounded" id="K" name="K" value="1">
                </div>
                <div class="mt-3">
                    <label for="P" class="P">Phospours Ratio(P) </label>
                    <input type="text" class="border border-slate-500 rounded" id="P" name="P" value="1">
                </div>
                <div class="mt-3">
                    <label for="ph" class="ph" name="ph">PH of soil</label>
                    <input type="text" class="border border-slate-500 rounded" id="ph" name="ph" value="7">
                </div>
                <button type="submit" class="bg-slate-800 rounded text-white py-2 px-4 my-4">Predict</button>
            </div>
        </form>
    </section>
</body>

</html>